{% extends "check_in/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Post</legend>
                <div class="form-control-dark">
                    {{ form|crispy }}
                </div>
            </fieldset>
            <div class="form-group pb-3">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}