{% extends "check_in/base.html" %}

{% block content %}
<h1>Authenticate your buzz login</h1>
<p>You will be automatically logged out if you are inactive for 3 hours</p>


<form action="/AE_logged_in/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <lable for="school">School</lable>
  <select class="form-control" name="school">
    {% for school in schools %}
    <option value="{{ school.ae_subdomain }}"> {{ school.name }} </option><!-- TODO un-hardcode this -->
    {% endfor %}
  </select>
  <hr>
  <label for="username">Buzz username:</label><br>
  <input class="form-control" type="text" id="username" name="username"><br>
  <label for="password">Password:</label><br>
  <input class="form-control" type="password" id="password" name="password">
  <input class="btn btn-primary mt-3" type="submit" value="Login To Buzz">
</form>


{% endblock content %}