{% extends "check_in/base.html" %}

{% block content %}
<h1>Login happened</h1>
{% csrf_token %}
<h3>{{ message }}</h3>
<p>{{ data }}</p>

<!--<form action="https://accelerate-mccloud.api.agilixbuzz.com/cmd?cmd=login3" method="post"> -->
<!--<form action="about/" method="post">
  <label for="username">Buzz username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password">
    <input type="submit">
</form>
<form action="https://accelerate-mccloud.api.agilixbuzz.com/cmd?cmd=listenrollmentsbyteacher&select=course,user" method="get">
    <label for="submit">get enrollment</label>
    <input type="submit" id="submit">
</form>
<button></button>
-->

{% endblock content %}