{% load crispy_forms_tags %}
<head>
    <style>
        input, select {width: 100%}
    </style>
</head>

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Document Student Meeting</legend>
        {{ form|crispy }}
        </fieldset>
        <div class="form-group">
        <input type="submit" value="Submit">
        </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ form.media.js }}
</div>