{% extends "check_in/base.html" %}

{% block content %}
<h1>Home login page</h1>
<p>new stuff today</p>
<ul>
    <li>Content blocks added</li>
    <li>CSS</li>
    <li>form models for the database</li>
    <li>User registration</li>
    <li>User logins work</li>
    <li>Check in form works</li>
    <li>Week summary works but may experience bugs as students add/drop</li>
    <li>Student list</li>
    <li>Student detail view</li>
</ul>
<form action="/about/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <label for="username">Buzz username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password">
    <input type="submit">
</form>


{% endblock content %}