{% extends "check_in/base.html" %}

{% block content %}

<h2>Week of {{ week }}</h2>
<nav aria-label="Page navigation">
    <ul class="pagination pagination-lg justify-content-center">
        {% if previous_week %}
        <li class="page-item ">
            <a class="page-link" href="{% url 'check_in-meeting-archive-week' previous_week|date:"Y" previous_week|date:"W" %}" tabindex="-1">
            Previous Week: {{ previous_week|date:"W" }} of year {{ previous_week|date:"Y" }}
            </a>
        </li>
        {% endif %}
        {% if next_week %}
        <li class="page-item">
            <a class="page-link" href="{% url 'check_in-meeting-archive-week' next_week|date:"Y" next_week|date:"W" %}">
            Next week: {{ next_week|date:"W" }} of year {{ next_week|date:"Y" }}
            </a>
        </li>
        {% endif %}
    </ul>
</nav>

<div>
    <table>
        <thead>
        <tr>
            <th colspan="0">Student</th>
        </tr>
        </thead>
        <tbody>
        {% for this_student in student.all %}
        {% if this_student.active %}
            <tr>
                <td colspan="0"><hr></td>
            </tr>
        <tr>
            <td><h4>{{this_student.last_name}}, {{this_student.first_name}}</h4></td>
            <td colspan="0">
                <ul>
                    {% for enrollment in this_student.courseenrollment_set.all %}
                    {% if enrollment.start_date|date:"Y-m-d" < week|date:"Y-m-d"%}
                    {% if week|date:"Y-m-d" < enrollment.end_date|date:"Y-m-d" %}
                    <li>{{ enrollment.course }}</li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    </ul>
            </td>
        </tr>
        <tr>
            <td>   
                    <tr>
                        <th>Date</th>
                        <th>Attendance</th>
                        <th># of Missing Assignments</th>
                        <th>Narrative</th>
                    </tr>                    
                    <tbody>
                    {% for meeting in object_list %}
                    {% if meeting.student == this_student %}
                    <tr>
                        <td>{{ meeting.appointment_date }}</td>

                        {% if meeting.attended_meeting %}
                        <td>{{ meeting.attended_meeting }}</td>
                        {% else %}
                        <td style="background-color: DarkOrange;">{{ meeting.attended_meeting }}</td>
                        {% endif %}

                        {% if meeting.missing_work_amount != 0 %}
                        <td style="background-color: IndianRed;">{{ meeting.missing_work_amount }}</td>
                        {% else %}
                        <td>{{ meeting.missing_work_amount }}</td>
                        {% endif %}

                        <td>{{ meeting.narrative }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>                
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination pagination-lg justify-content-center">
        {% if previous_week %}
        <li class="page-item ">
            <a class="page-link" href="{% url 'check_in-meeting-archive-week' previous_week|date:"Y"
            previous_week|date:"W" %}" tabindex="-1">
            Previous Week: {{ previous_week|date:"W" }} of year {{ previous_week|date:"Y" }}
            </a>
        </li>
        {% endif %}
        {% if next_week %}
        <li class="page-item">
            <a class="page-link" href="{% url 'check_in-meeting-archive-week' next_week|date:"Y" next_week|date:"W" %}">
            Next week: {{ next_week|date:"W" }} of year {{ next_week|date:"Y" }}
            </a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock content %}
