{% extends "check_in/base.html" %}

{% block content %}
<h1>{{ student.last_name }}, {{ student.first_name }}</h1>

<p><strong>Courses:</strong>
    {% for enrollment in course_enrollments %}
    {{ enrollment.course }}
    {% endfor %}

    {{ student.course.all|join:", " }}</p>


<div style="margin-left:20px;margin-top:20px">
    <h4>Meetings</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Attendance</th>
                <th># of Missing Assignments</th>
                <th>Narrative</th>
            </tr>
        </thead>
        <tbody>
        {% for meeting in student_meetings reversed %}
            <tr>
                <td>{{ meeting.appointment_date }}</td>
                <td>{{ meeting.attended_meeting }}</td>
                <td>{{ meeting.missing_work_amount }}</td>
                <td>{{ meeting.narrative }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
  </div>

{% endblock content %}