{% extends "check_in/base.html" %}
{% block content %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Project</legend>
                <h2>Confirm you want to delete meeting: "{{ object }}"</h2>
                <div class="form-control-dark">
                </div>
            </fieldset>
            <div class="form-group pb-3">
                <button class="btn btn-outline-danger" type="submit">Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'student_meeting-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}